.top-form{
	-fx-background-color:#fff;
	-fx-border-color:#000;
	-fx-border-width:0px 0px .3px 0px;
}
.below-top{
	-fx-background-color:#dceeef;
	-fx-border-color:#fff;
	-fx-border-width:0px 0px .3px 0px;
}

.nav-form{
	-fx-background-color:linear-gradient(to bottom right,#ffffff,#2a6994);
}

.nav-btn{
	-fx-background-color:transparent;
	-fx-cursor:hand;
	-fx-text-fill:#000;
	-fx-font-size:15px;
	-fx-font-family:"Arial";
	-fx-alignment:center_left;
	
}
.nav-btn:hover{
	-fx-background-color:#2ca1a1;
	-fx-font-size:16px;
}
.white-bg{
-fx-background-color:#fff;
-fx-background-radius:10px;
}

.shadow{
-fx-effect:dropshadow(three-pass-box,rgba(0,0,0,0.4),4,0,0,0);
}

.card{
	-fx-background-color:linear-gradient(to bottom right,#39555e,#2799bc);
	-fx-background-radius:5px;
	}
